* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: lightyellow;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  background: cyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 150px;
  background: red;
  position: sticky;
  top: 0;
}

.main {
  flex: 1;
  background: green;
}

.footer {
  height: 50px;
  background: yellow;
}

.audio-player {
  background: rgb(185, 185, 152);
  height: 100%;

}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: lightseagreen;
}

.title {
  color: #000;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 150px;
  height: 150px;
  background: lightgray;
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #989898;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 20px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* time */
.time {
  color: #333;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: lightseagreen;
}

/* Top bar */
.top__bar {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f2;
}

.top__bar a {
  color: inherit;
}

.top__bar p {
  margin: 0;
}
