* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #000000;
  color: #cecece;
}

.header {
  /* background: #000000; */
  position: sticky;
  top: 0;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.audio-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 8px;
}

.title {
  color: #cecece;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 20px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.time {
  color: #ccc;
  font-size: 13px;
  line-height: 46px;
}

.time.current {
  color: lightseagreen;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 20px;
  background-color: white;
  align-items: center;
}